.bg-foto {
  background-image: url("../img/fondo.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
h1,
h2,
h3,
a,
.text-footer,
.text-madimi {
  font-family: "Madimi One", serif;
  font-weight: 400;
  font-style: normal;
}

.bg-dark {
  background-color: var(--color-dark);
}
.bg-teal {
  transition: background-color 0.3s ease; // Suaviza el cambio de color

  &:hover {
    background-color: var(--color-teal);
  }
}
