@import "calendario"; // Partial para estilos de botones
@import "colors";
.bg-foto {
  background-image: url("../img/fondo.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
// Genera las variables CSS desde el mapa de colores
:root {
  @each $name, $color in $colors {
    --color-#{$name}: #{$color};
  }
}
